{% extends 'base.html' %}
{% block title %} Homepage{% endblock %}

{% block body %}

<p>ANYTHING</p> 

<div class="homepage_container">

    <form action ="/search-input-form">
        <label for="datePicker">Enter the date of the reservation you would like</label>
        <input type="date" id="datePicker" name="reservation-date">

        <div>Enter an optimal time range and we will only show appointments in that range</div>

        <!-- <label for="start-time">Start Time: </label>
        <input id="start-time" type="time" name="start-time" value="08:00" step="1800">

        <label for="end-time">End Time: </label>
        <input id="end-time" type="time" name="end-time" value="11:00" step="1800"> -->
        
        <label>Start Time: </label>
        <select name="start-hour" class="hours"></select>
        <select name="start-minute" class="minutes"></select>
        <select name="start-am-or-pm" id="am-pm">
            <option>AM</option>
            <option>PM</option>
        </select>

        <label>End Time: </label>
        <select name="end-hour" class="hours"></select>
        <select name="end-minute" class="minutes"></select>
        <select name="end-am-or-pm" id="am-pm">
            <option>AM</option>
            <option>PM</option>
        </select>

        <div class="search-submit-div">
            <input type="submit" value="Search">
        </div>

        </form>
    

</div>


<script src="/static/events.js"></script>

{% endblock %}